.app-component-container {
  display: flex;
  position: relative;
}
.app-component-navlink {
  display: contents;
}
.app-component-image {
  top: 1px;
  left: 1px;
  width: 100px;
  position: absolute;
  object-fit: cover;
  transition: 0.3s;
  text-decoration: none;
}
.app-component-image:hover {
  box-shadow: 3px 2px 3px 0px #5c8b9b;
}
.app-component-root-class-name {
  top: 85px;
  left: 110px;
  position: absolute;
}
.app-component-root-class-name1 {
  top: 85px;
  left: 110px;
  position: absolute;
}
.app-component-root-class-name2 {
  top: 85px;
  left: 110px;
  position: absolute;
}
.app-component-root-class-name3 {
  top: 85px;
  left: 110px;
  position: absolute;
}
@media(max-width: 479px) {
  .app-component-image {
    top: 55px;
    left: 30px;
  }
}

.explore-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #33506c;
}
.explore-navlink {
  color: rgb(253, 232, 165);
  align-self: center;
  transition: 0.3s;
  border-width: 0px;
  text-decoration: none;
  background-color: rgb(51, 80, 108);
}
.explore-navlink:hover {
  color: #33506c;
  background-color: #fde8a5;
}
